<ion-header>
  <ion-toolbar>
    <ion-title class="new-background-color">
        <div class="title">{{recipe?.name}}</div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="recipe-image-container flex">
    <img class="recipe-image" src="{{recipe?.imageUrl}}"/>
  </div>
  <div class="slide">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide *ngFor="let step of recipe?.steps; index as i">
          Step: {{i + 1}}
          Ingredientes: <ion-badge color="primary" *ngFor="let ingredient of step.ingredients">{{ingredient}}</ion-badge>
          Utensilios:<ion-badge color="primary" *ngFor="let ware of step.cookware">{{ware}}</ion-badge>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
