.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-content{
  --ion-background-color: #644bb8;
  position: relative;
}

.title {
  text-align: center;
}

.new-background-color {
  background: #392f5a;
}

.recipe-image-container {
  height: 20%;
}

.recipe-image {
  border-radius: 50% !important;
  width: 50%;
  object-fit: contain;
  position: absolute;
  margin-top: 20%;
}

.slide {
  background: white;
  height: 80%;
  width: 100%;
  border-radius: 40px 40px 0 0 !important;
}

ion-slides {
  color: black;
  height: 100%;
  width: 100%;
}

.title {
  white-space: normal !important;
}